body {
	margin:0;
	font-family: 'Roboto Condensed', sans-serif;
}

 
h1 {
	 	  
	color:#333;
	font-weight:700;
	margin-top:125px;	 
	text-align:center;
	text-transform:uppercase;
	letter-spacing:4px;
	line-height:23px;
}

/* --- Start progress bar --- */

form{
    margin: 100px;
}